#img-bg{
    background-image: url('https://imgur.com/hC02Xbm.jpg');

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.texto{
    font-family: monospace;
}